.my_orders{
   display: flex;
   flex-direction: column;
   align-items: center;
   }

   .orders_image{
    height:200px;
    width:200px;
    padding: 20px;
}
   .search_bar{
    width: 60%;
    border-radius: 20px;
    border: 1px solid grey;
    position: relative;
  }
  .search_button{
    position: absolute;
 right: 21%;
 border-radius: 10px;
 border: none;
 background-color: transparent;
 color: red;
    }

.my_order_block{
    background-color: white;
    width:90%;
   margin: 15px auto;
    box-shadow: 5px 5px 8px 5px #888888;
    display: flex;
    justify-content: space-around;
  };

  /* //TAB DEVICES */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
        
  }

  /* MOBILE DEVICES */
@media (max-width: 768px) {
  .orders_image{
    height:200px;
    width:200px;
    padding: 10px;
}
}